* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  

}

.container-text {
  display: flex;
  margin: 10px auto;
}


.content-img {
  display: flex;
  justify-content: center;
  margin: 40px auto 10px auto;

}

.context-title {
  font-family: 'IBM3270';
  text-align: center;
}

.context-title h2 {
  font-size: max(30px,5vw); 
}

.p-2 {
  font-family: 'IBM3270';
  font-size: max(15px, 1.5vw);
  padding: 18px;
  text-align: center;
  margin: 15px auto;
  align-items: center;
}

.arrow-down {
  align-items: center;
}

