* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  

}

.content-img {
  display: flex;
  justify-content: center;
  margin: 40px auto 10px auto;

}

.context-title {
  font-family: 'IBM3270';
  text-align: center;
}

.context-title h2 {
  font-size: max(30px,5vw); 
}

